@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

.inter{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: white;
}
.miama{
    font-family: 'Miama', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}
.bg{
    background-color: black;
}

/*shared*/
.display-flex{
    display: flex;
  }
  .grey{
    color: grey;
    font-weight: 300;
  }
  .title{
    font-size: 3rem;
    margin-bottom: 5px;
  }

  .btn-primary{
    background-color:  #E6533C;
    color: white;
    width: 5rem;
    height: 2rem;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 46px;
    border: none;
    margin: 1px 0px 2px 0px;
  }
  .btn1{
    background-color:  #E6533C;
    color: white;
    width: 12rem;
    height: 3rem;
    font-weight: 600;
    padding: 16px 46px;
    border-radius: 42px;
    border: none;
    margin: 1px 0px 2px 0px;
  }
  .btn2{
    background-color: black;
    color: white;
    width: 12rem;
    height: 3rem;
    font-weight: 600;
    padding: 16px 46px;
    border-radius: 42px;
    border: solid;
    margin: 1px 0px 2px 0px;
  }






  /*navbar*/
  .navitem{
    list-style: none;
    margin-right: 30px;
  }
  .navlink{
    text-decoration: none;
    font-weight: 500px;
    color: white;
  }
  .navlinks{
    border: solid;
    border-color: white;
    border-width: 0.3px;
    border-radius: 39px;
    align-items: center;
    padding-left: 2px;
  }
  .navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: auto;
  }
  .icon{
    display: none;
  }
  .brand{
    font-size: 2rem;
    font-weight: 700px;
    font-style: italic;
    color: #E6533C;
    
 
  }

  /*banner*/

  .banner{
    max-width: 80%;
    margin: auto;
    justify-content: space-between;
  }
  .banner-t{
    font-size: 400%;
    height:12%;
  }
  .banner-content{
    width: 50%;
    max-height: 25%;
  }
  .s{
    font-size: 8rem;
  }
  .card1{
    position: absolute;
    background-color: rgba(60, 58, 58, 0.8); 
    border: none; 
    border-radius: 10px;
    padding: 10px; 
    width: 10%; 
    height: 4rem;
    align-items: center;
    margin-top: -150px;
    margin-left: -100px;
  }
  .card2{
    position: absolute;
    background-color: rgba(60, 58, 58, 0.8); 
    border: none; 
    border-radius: 10px;
    padding: 10px; 
    width: 10%; 
    height: 5rem;
    align-items: center;
    margin-top: -450px;
    margin-left: 210px;
  }
  .bg::before {
    content: '';
    position: absolute;
    width: 150%;
    height: 100%;
    background: radial-gradient( rgba(255, 255, 255, 0.2) 30%, rgba(0, 0, 0, 0) 60%);
    opacity: 0.5; 
}
.q{display: block;}

.t{
    font-size: 2rem;
   padding: 0;
   margin-bottom: 0px;
}
.im{
    max-width: 40px;
    margin-right: 7px;

}
.b{
    margin-top: 5px;
}
.d{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;

}
.c{
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.u{
    font-size: 2.3rem;
    font-weight: 800;
    padding-left: 10px;
}



.habbit{
    text-align: center;
    padding-bottom: 30px;
}

.habbits{
    max-width: 80%;
    margin: auto;
    padding-bottom: 6rem;
}
.emg{
    height: 15rem;
    width: 12rem;
    text-align: center;
}
.emg-t{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.em{
    justify-content: space-around;
}
.z{
    border-radius: 50%;
}

.run{
    background-color: #222222;
    max-width: 80%;
    margin: auto;
    
    border-radius: 1rem;
    justify-content: space-between;
    align-items: center;
}
.run-c{
    width: 29rem;
    margin: 40px;
    padding-bottom: 20px;
}
.x{
    width: 30%;
    height: 17rem;
    margin-right: 4rem;
    border-radius: 1rem;
}

.b-t{
    width: 50%;
    margin: auto;
}
table {
    width: 17rem;
    border-collapse: collapse; 
    margin: 1rem 0; 
}
th {
    padding: 10px; 
    border: 1px solid #767474;
}
td {
    padding: 10px; 
    border: 1px solid #767474; 
}

.g{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
  
    
}
input{
    width: 95%;
    height: 35px;
    padding: 10px; 
    border: none;
    border-radius: 18px; 
    background-color: #363434;
}


select{
    width: 24rem;
    height: 55px;
    padding: 10px; 
    border: none;
    border-radius: 18px; 
    background-color: #363434;
    
}

.cal{
    margin-top: 1rem;
}
.bmih{
    justify-content: space-around;
    background-color: #222222;
    padding: 1rem;
    margin: 3rem 0;
    width: 100%;
}

.up{
  width: 50%;
  margin: auto;
  text-align: center;
}
.down{
  width: 80%;
  height: 30%;
  background-color: #222222;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  border-radius: 18px;
  margin: 0 auto;
}
.te{
  margin-top: 25px;
  width: 95%;
  height: 80%;
  border-radius: 18px;
}
.con{
  position: relative;
  margin-top: 10px;
  margin-left: 15px;
  
}
.co{
  position: relative;
  margin-top: -130px;
  margin-left: 20px;
}
.f1{
  background-color: #222222;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 0px;
}
.fit{
  width: 30%;
}
.v{
  color: #E6533C;
  font-size: 4rem;
  margin-bottom: 0;
}
.n{
  font-size: 0.8rem;
  margin-top: 0;
}
.f{
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}
.m{
  text-align: center;
  padding: 10px;
}
.i{
    height: 0.5px;
    background: grey; 
    width: 80%;
    
}
.end{
  width: 80%;
  background-color: #222222;
  border-radius: 18px;
  text-align: center;
  margin: auto;
}
.j{
  padding-top: 15px;
}
.end1{
  padding-bottom: 20px;
  
}
.bu{
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin: auto;
}
.try{
  background-color: #767474;
}
.o{
  padding: 30px;
}



@media  screen and (max-width: 576px) {

    .navlinks{
        display: none;  
    }
    .icon{
        display: block;
        max-width: 24px;
        
    }
    .title{
      font-size: 2rem;
    }
    .banner-content{
      width: 100%;
      margin: 0 auto;
    }
    .banner,
    .em,
    .run,
    .bmih{
        display: block;
    }
    .banner-t{
      font-size: 150%;
      height: 20%
    }

   

    
    .q{
        margin-top: 4rem;
        margin-left: 2rem;
    }
    .card1{
        margin-top: -250px;
        margin-left: -10px;
        width: 30%;
    }
    .card2{
      width: 30%;
      margin-left: 190px;
  }
    .bg::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 300%;
        background: radial-gradient( rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0) 80%);
        opacity: 0.7; 
    }
    .emg{
        margin: auto;
        margin-bottom: 7rem;
    }
    .run-c{
        width: 80%;
        padding-top: 0.2rem;
    }
    .x{
      width: 80%;
      height: auto;
        margin-left: 2rem;
        margin-bottom: 1rem;
    }
    

    .b-t{
        width: 80%;
    }
  
   
    
  
    input{
        width: 80%;
        height: 25px;
    }
    select{
        width: 10.5rem;
        height: 40px;
    }
    .down{
      display: block;
      width: 80%;
      height: 250%;
    }
    .te{
      width: 95%;
      margin-top: 10px;
    }
    .con{
      margin-bottom: 70px;
    }
    .f{
      display: block;
    }
    .fit{
      width: 100%;
    }
    .bu{
      display: block;
      width: 80%;
    }
    .try{
      margin-top: 5px;
    }
    .o{
      padding: 10px;
    }

    
   
}
  